@model IEnumerable<SEP_CAMERA_PHUONGNGHI.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<p>
    <a href="@Url.Action("Create")">Thêm sản phẩm mới</a>
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.brand)*@
            Thương hiệu
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá sản phẩm
        </th>
        <th>
            Giá khuyến mãi
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Miêu tả sản phẩm
        </th>
        <th>
            Ngày tạo sản phẩm
        </th>
        <th>
            Ngày cập nhật sản phẩm
        </th>
        <th>
            Xếp loại sản phẩm
        </th>
        <th>
            Danh mục
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.title)*@
            @item.title
        </td>
        <td>
            @item.price
        </td>
        <td>
            @item.discount
        </td>
        <td>
            @item.thumbnail
        </td>
        <td>
            @item.description
        </td>
        <td>
            @item.created
        </td>
        <td>
            @item.updated
        </td>
        <td>
            @item.rank_id
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY.name_category)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id_product }) |*@
            <a href="@Url.Action("Edit", new { id=item.id_product })">Chỉnh sửa</a> |
            <a href="@Url.Action("Details", new { id=item.id_product })">Mô tả</a> |
            <a href="@Url.Action("Delete", new { id=item.id_product })">Xóa</a> |
        </td>
    </tr>
}
</table>
