@model SEP_CAMERA_PHUONGNGHI.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}


<div class="page-inner">
    <div class="page-header">
        <Strong class="page-title">QUẢN LÍ DANH MỤC</Strong>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Mô tả danh mục</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a style="font-size:16px" href="@Url.Action("Edit", new { id = Model.category_id})">Chỉnh sửa danh mục</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            <h5>Tên danh mục</h5>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            <h5>Tiêu đề SEO</h5>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeoTitle)
                        </dd>

                        <dt>
                            <h5>Trạng thái</h5>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.sort)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.sort)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ParentID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ParentID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaKey)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaKey)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaDescription)
                        </dd>

                        <dt>
                            <h5>Ngày tạo danh mục</h5>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            <h5>Ngày cập nhật</h5>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>

                    </dl>

                </div>

                <div class="card-action">
                    <a style="font-size:16px" href="@Url.Action("Index")">Quay lại</a>
                </div>

            </div>
        </div>
    </div>
</div>
