@using SEP_CAMERA_PHUONGNGHI.Models
@using PagedList.Mvc
@model PagedList.PagedList<Post>
@{
    ViewBag.Title = "Blog";
}

<div class="page-header__container container">
    <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                    <svg class="breadcrumb-arrow"
                         width="6px" height="9px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                    </svg>
                </li>

                <li class="breadcrumb-item active" aria-current="page">Bài viết</li>
            </ol>
        </nav>
    </div>
</div>


<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
            </div>
            <div class="page-header__title">
                <h1>Bài viết</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="block">
                    <div class="posts-view">
                        <div class="posts-view__list posts-list posts-list--layout--list">
                            <div class="posts-list__body">
                                @foreach (var items in Model)
                                {
                                    <div class="posts-list__item">
                                        <div class="post-card post-card--layout--list post-card--size--nl">
                                            <div class="post-card__image">
                                                <a href="~/Blog/BlogDetail?id=@items.post_id">
                                                    <img src="@Url.Content("~/Content/image/ImgPost/"+items.Image)" alt="">
                                                </a>
                                            </div>
                                            <div class="post-card__info">
                                                <div class="post-card__name">
                                                    <a href="~/Blog/BlogDetail?id=@items.post_id">
                                                        @items.Name
                                                    </a>
                                                    <div class="post-card__date">@items.CreateDate</div>
                                                </div>
                                                <div class="post-card__content">
                                                    @items.Description
                                                </div>
                                                <div class="post-card__read-more">
                                                    <a href="~/Blog/BlogDetail?id=@items.post_id"
                                                       class="btn btn-secondary btn-sm">Xem ngay</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="products-view__pagination">
                            Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber )/@Model.PageCount

                            <ul class="pagination justify-content-center">
                                @*Create Link pagelist*@
                                <li style="letter-spacing:50px" class="page-item">
                                    @Html.PagedListPager(Model, page => Url.Action("Blog", new { page = page }))
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>