@using SEP_CAMERA_PHUONGNGHI.Models

@{SEP25Team01Entities db = new SEP25Team01Entities();
    var category = db.Categories.ToList();
    var post = db.Posts.ToList();
    var slide = db.Slides.ToList();
    var product = db.tbProducts.ToList();
    ViewBag.Title = "Home Page";

}



<div class="block-slideshow block-slideshow--layout--with-departments block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 offset-lg-3">
                <div class="block-slideshow__body">
                    <div class="owl-carousel owl-loaded owl-drag">
                        @for (int i = 1; i < 6; i++)
                        {
                            <div class="block-slideshow__slide" href="#">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop "
                                     style="background-image: url('@Url.Content("~/Content/image/ImgProduct/" + product[i].Thumnail)');background-size: 100%;background-position-y:center">

                                </div>

                                <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                     style="background-image: url('@Url.Content("~/Content/image/ImgProduct/" + product[i].Thumnail)')">
                                </div>

                                <div class="block-slideshow__slide-content">
                                    <div class="block-slideshow__slide-title ">
                                        @product[i].Name
                                    </div>
                                    <div style="width:700px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis " class="block-slideshow__slide-text">
                                        @product[i].Desciption
                                    </div>
                                    <div class="block-slideshow__slide-button">
                                        <a  href="@Url.Action("ProductDetail", "ShopGrid", new { id = product[i].product_id})" class="btn btn-primary" >Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        }
                        @*@foreach (var item in slide)
                            {
                                <a class="block-slideshow__slide" href="#">
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                         style="background-image: url('@Url.Content("~/Content/image/ImgSlide/" + item.Image)')">

                                    </div>

                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                         style="background-image: url('@Url.Content("~/Content/image/ImgSlide/" + item.Image)')">
                                    </div>

                                    <div class="block-slideshow__slide-content">
                                        <div class="block-slideshow__slide-title ">
                                            @item.TitleSlide
                                        </div>
                                        <div class="block-slideshow__slide-text">
                                            @item.DescriptionSlide
                                        </div>
                                        <div class="block-slideshow__slide-button">
                                            <span class="btn btn-primary btn-lg">@item.Name</span>
                                        </div>
                                    </div>
                                </a>
                            }*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .block-slideshow / end -->
<!-- .block-features -->

<div class="block block-features block-features--layout--classic">
    <div class="container">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">Miễn phí vận chuyển</div>
                    <div class="block-features__subtitle">Đơn hàng từ 100,000 đ</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">Hỗ trợ 24/7</div>
                    <div class="block-features__subtitle">Chúng tôi luôn bên bạn mọi lúc</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">100% An toàn</div>
                    <div class="block-features__subtitle">Bảo mật tốt nhất cho bạn</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">Lắp Đặt Chuyên Nghiệp</div>
                    <div class="block-features__subtitle">Đội ngũ lắp đặt, tư vấn kỹ thuật giàu kinh nghiệm</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="block block-products-carousel" data-layout="grid-4">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Sản phẩm</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <a href="@Url.Action("ShopGrid", "ShopGrid")">Xem tất cả</a>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                @foreach (var item in Model)
                {
                    <div class="block-products-carousel__column">
                        <div class="block-products-carousel__cell">
                            <div class="product-card" style="margin-bottom:1px">
                                <div class="product-card__image">
                                    <a href="~/ShopGrid/ProductDetail?id=@item.product_id">
                                        <img src="~/Content/image/ImgProduct/@item.Thumnail" alt="">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="~/ShopGrid/ProductDetail?id=@item.product_id">
                                            @item.Name
                                        </a>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__prices">@String.Format("{0:0,0}", item.PromotionPrice) đ</div>
                                    <span class="product-card__old-price">@String.Format("{0:0,0}", item.Price) đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="block block-posts block-posts--layout--list-sm" data-layout="list-sm">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Bài viết</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <a href="@Url.Action("Blog", "Blog")">Xem tất cả</a>

            </div>
        </div>
        <div class="block-posts__slider">
            <div class="owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-2400px, 0px, 0px); transition: all 0s ease 0s; width: 9600px;">
                        @foreach (var item in post)
                        {
                            <div class="owl-item cloned" style="width: 450px; margin-right: 30px;">
                                <div class="post-card">
                                    <div class="post-card__image">
                                        <a href="~/Blog/BlogDetail?id=@item.post_id"><img src="@Url.Content("~/Content/image/ImgPost/" + item.Image)" alt=""></a>
                                    </div>
                                    <div class="post-card__info">
                                        <div class="post-card__category"><a href="~/Blog/BlogDetail?id=@item.post_id">Xem tin</a></div>
                                        <div class="post-card__name">
                                            <a href="~/Blog/BlogDetail?id=@item.post_id">
                                                @item.Name
                                            </a>
                                        </div>
                                        <div class="post-card__content">
                                            @item.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .block-posts / end -->
</div>


@*<div class="block block--highlighted block-categories block-categories--layout--classic">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Popular Categories</h3>
                <div class="block-header__divider"></div>
            </div>
            <div class="block-categories__list">
                @foreach(var item in category) {
                <div class="block-categories__item category-card category-card--layout--classic">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href="#">
                                <img src="images/categories/category-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="#">@item.Name</a></div>

                            <div class="category-card__all"><a href="#">Show All</a></div>
                            <div class="category-card__products">134 Products</div>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>*@

@*<div class="block block-brands">
        <div class="container">
            <div class="block-brands__slider">
                <div class="owl-carousel">
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-1.png" alt=""></a>
                    </div>
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-2.png" alt=""></a>
                    </div>
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-3.png" alt=""></a>
                    </div>
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-4.png" alt=""></a>
                    </div>
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-5.png" alt=""></a>
                    </div>
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-6.png" alt=""></a>
                    </div>
                    <div class="block-brands__item">
                        <a href="#"><img src="images/logos/logo-7.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@