@using SEP_CAMERA_PHUONGNGHI.Models

@{SEP25Team01Entities db = new SEP25Team01Entities();
    var category = db.Categories.ToList();
    var post = db.Posts.ToList();

    ViewBag.Title = "Home Page";

}



<div class="block-slideshow block-slideshow--layout--with-departments block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 offset-lg-3">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                        <a class="block-slideshow__slide" href="#">
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                 style="background-image: url('images/slides/slide-1.jpg')"></div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                 style="background-image: url('images/slides/slide-1-mobile.jpg')"></div>
                            <div class="block-slideshow__slide-content">
                                <div class="block-slideshow__slide-title">
                                    Big choice of<br>Plumbing products
                                </div>
                                <div class="block-slideshow__slide-text">
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit.<br>Etiam pharetra laoreet dui quis
                                    molestie.
                                </div>
                                <div class="block-slideshow__slide-button">
                                    <span class="btn btn-primary btn-lg">Shop Now</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- .block-slideshow / end -->
<!-- .block-features -->

<div class="block block-features block-features--layout--classic">
    <div class="container">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">Miễn phí vẫn chuyển</div>
                    <div class="block-features__subtitle">Đơn hàng từ 100,000 đ</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">Hỗ trợ 24/7</div>
                    <div class="block-features__subtitle">Chúng tôi luôn bên bạn mọi lúc</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">100% An toàn</div>
                    <div class="block-features__subtitle">Bảo mật tốt nhất cho bạn</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__content">
                    <div class="block-features__title">Lắp Đặt Chuyên Nghiệp</div>
                    <div class="block-features__subtitle">Đội ngũ lắp đặt, tư vấn kỹ thuật giàu kinh nghiệm</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="block block-products-carousel" data-layout="grid-4">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Sản phẩm</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px"
                         height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button> <button class="block-header__arrow block-header__arrow--right"
                                  type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                @foreach (var item in Model)
                {
                    <div class="block-products-carousel__column">
                        <div class="block-products-carousel__cell">
                            <div class="product-card" style="margin-bottom:1px">
                                <div class="product-card__image">
                                    <a href="~/ShopGrid/ProductDetail?id=@item.product_id">
                                        <img src="~/Content/image/ImgProduct/@item.Thumnail" alt="">
                                    </a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="~/ShopGrid/ProductDetail?id=@item.product_id">
                                            @item.Name
                                        </a>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__prices">@item.PromotionPrice đ</div>
                                    <span class="product-card__old-price">@item.Price đ</span>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">
                                            Thêm vào giỏ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="block block-posts block-posts--layout--list-sm" data-layout="list-sm">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Bài viết</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg>
                </button> <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-posts__slider">
            <div class="owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-2400px, 0px, 0px); transition: all 0s ease 0s; width: 9600px;">
                        @foreach (var item in post)
                        {
                            <div class="owl-item cloned" style="width: 450px; margin-right: 30px;">
                                <div class="post-card">
                                    <div class="post-card__image">
                                        <a href="~/Blog/BlogDetail?id=@item.post_id"><img src="@Url.Content("~/Content/image/ImgPost/" + item.Image)" alt=""></a>
                                    </div>
                                    <div class="post-card__info">
                                        <div class="post-card__category"><a href="~/Blog/BlogDetail?id=@item.post_id">Xem tin</a></div>
                                        <div class="post-card__name">
                                            <a href="~/Blog/BlogDetail?id=@item.post_id">
                                                @item.Name
                                            </a>
                                        </div>
                                        <div class="post-card__content">
                                            @item.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div><!-- .block-posts / end -->
</div>
<div id="chung-toi-lien-he-ban" class="block block-product-columns d-lg-block d-none">
    <div class="container">
        <div class="card mb-0">
            <div class="card-body contact-us">
                <div class="contact-us__container">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <h4 class="contact-us__header card-title">Địa chỉ</h4>
                            <div class="contact-us__address">
                                <p>
                                    <b>CN1: </b>937D/11/10/6 Tạ Quang Bửu, Phường 5, Quận 8, TP.HCM<br>
                                    <b>CN2: </b>Khu phố Kim Điền, Thị trấn Cần Giuộc, Long An<br>
                                    <b>Email: </b>cameraphuongnghihuynh@gmail.com<br>
                                    <b>Hotline: </b>098 276 7799<br>
                                </p>
                                <p>
                                    <strong>Thời gian mở cửa Thứ 2 đến Thứ 7</strong><br>
                                    Sáng: 8h đến 11h30<br />
                                    Chiều: 13h đến 17h
                                </p>
                                <p>
                                    Các sản phẩm và giải pháp của CÔNG NGHỆ MỚI thì việc giám sát của quý khách giờ đây sẽ không chỉ dừng
                                    lại ở giám sát nội bộ, giám sát trong phạm vi hẹp mà còn có thể giám sát từ xa. Các thiết bị được tích
                                    hợp, kết nối với hệ thống xử lý thông minh còn đem lại cho quý khách các tiện ích siêu việt như: Tự động
                                    cảnh báo khi có đột nhập, tự động gửi tin nhắn cảnh báo tới điện thoại của chủ nhà, tự động ghi hình khi
                                    phát hiện chuyển động trong vùng theo dői, tự động quét các góc độ theo chương trình đặt trước....
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <h4 class="contact-us__header card-title">Để chúng tôi liên hệ bạn</h4>
                            <form>
                                <div class="form form-vertical">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="form-name">
                                                Họ tên
                                            </label>
                                            <input type="text" id="form-name" class="form-control" placeholder="Tên của bạn">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="form-email">Số điện thoại</label>
                                            <input type="number" id="form-email" class="form-control" placeholder="0123456789">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-message">Ghi chú</label>
                                    <textarea id="form-message" class="form-control" rows="5" placeholder="..."></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Gửi lời nhắn</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

