@model SEP_CAMERA_PHUONGNGHI.Models.tbProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <Strong class="page-title">QUẢN LÍ SẢN PHẨM</Strong>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Mô tả sản phẩm</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a style="font-size:16px" href="@Url.Action("Edit", new { id = Model.product_id})">Chỉnh sửa sản phẩm</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            <strong>Tên sản phẩm</strong>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        @*<dt>
                            <strong>Tiêu đề SEO</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeoTitle)
                        </dd>*@

                        <dt>
                            <strong>Hình ảnh</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Thumnail)
                        </dd>

                        <dt>
                            <strong>Giá</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>

                        <dt>
                            <strong>Giá khuyến mãi</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PromotionPrice)
                        </dd>

                        <dt>
                            <strong>Tồn kho</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TonKho)
                        </dd>

                        <dt>
                            <strong>Bảo hành</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BaoHanh)
                        </dd>

                        <dt>
                            <strong>Miêu tả</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Desciption)
                        </dd>


                        <dt>
                            <strong>Ngày tạo sản phẩm</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            <strong>Ngày cập nhật</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>

                        <dt>
                            <strong>Hãng sản phẩm</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Brand.Name)
                        </dd>

                        <dt>
                            <strong>Danh mục</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Category.Name)
                        </dd>
                        <!--Thong so ky thuat-->
                        <dt>
                            <strong>Thông số kỹ thuật: </strong>

                        </dt>

                        <dt>
                            <strong>Cảm biến ảnh</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CambienAnh)
                        </dd>
                        <dt>
                            <strong>Độ phân giải</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Dophangiai)
                        </dd>
                        <dt>
                            <strong>Ống kính</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ongkinh)
                        </dd>
                        <dt>
                            <strong>Góc nhìn</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gocnhin)
                        </dd>
                        <dt>
                            <strong>Chuẩn nén video</strong>

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ChuannenVideo)
                        </dd>
                    </dl>
                </div>

                <div class="card-action">
                    <a style="font-size:16px" href="@Url.Action("Index")">Quay lại</a>
                </div>

            </div>
        </div>
    </div>
</div>
