@model SEP_CAMERA_PHUONGNGHI.Models.tbProduct

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "tbProducts", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.product_id)
    @Html.HiddenFor(model => model.CreateDate)
    @Html.HiddenFor(model => model.Thumnail)
  
    <div class="page-inner">
        <div class="page-header">
            <Strong class="page-title">QUẢN LÍ SẢN PHẨM</Strong>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Chỉnh sửa sản phẩm</strong>
                            </div>
                            <div class="col-md-6 text-right">

                                <a style="font-size:16px" href="@Url.Action("Index")">Quay lại</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Tên sản phẩm</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, required = "required" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tiêu đề SEO</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SeoTitle, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.SeoTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label>Trạng thái</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.Status)
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>  
                        </div>*@

                        <div class="form-group">
                            <label>Hình ảnh</label>
                            <div class="col-md-10">
                                <input name="img" type="file" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Giá</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", type = "Number", min = 1 } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Giá khuyến mãi</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control", type = "Number", min = 0 } })
                                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Tồn kho</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TonKho, new { htmlAttributes = new { @class = "form-control", type = "Number", min = 0 } })
                                @Html.ValidationMessageFor(model => model.TonKho, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Bảo hành</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BaoHanh, new { htmlAttributes = new { @class = "form-control", type = "Number", min = 0 } })
                                @Html.ValidationMessageFor(model => model.BaoHanh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Miêu tả</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Desciption, new { @class = "form-control", @rows = "6", required = "required" })
                                @Html.ValidationMessageFor(model => model.Desciption, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Danh mục</label>
                            <div class="col-md-10">
                                @Html.DropDownList("category_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Hãng sản phẩm</label>
                            <div class="col-md-10">
                                @Html.DropDownList("brand_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.brand_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <!--Nhap thong so ki thuat-->
                        <div class="form-group">
                            <label>Thông số kĩ thuật</label>
                        </div>
                        <br />

                        <div class="form-group">
                            <label>Cảm biến ảnh</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CambienAnh, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.CambienAnh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Độ phân giải</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Dophangiai, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Dophangiai, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Ống kính</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ongkinh, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Ongkinh, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Góc nhìn</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Gocnhin, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.Gocnhin, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Chuẩn nén video</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ChuannenVideo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.ChuannenVideo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Lưu lại</button>
                        <button class="btn btn-danger">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
