@model IEnumerable<SEP_CAMERA_PHUONGNGHI.Models.tbProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}
<main>
    <!--Content Wrapper-->
    <div class="content-wrapper">
        <!--Main content-->
        <section class="content my-2">
            <!-- Default box-->
            <div style="padding-top: 30px" class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>DANH SÁCH SẢN PHẨM</strong>
                        </div>
                        <div style="padding-left: 600px" class="col-md-6 text-right">
                            <a href="@Url.Action("Create")">Tạo mới sản phẩm</a>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor(model => model.Name)*@
                                Tên sản phẩm
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.SeoTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>*@
                            <th>
                                Hình ảnh
                            </th>
                            <th>
                                Giá
                            </th>
                            <th>
                                Giá khuyến mãi
                            </th>
                            <th>
                                Tồn kho
                            </th>
                            <th>
                                Bảo hành
                            </th>
                            <th>
                                Miêu tả
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.MetaKey)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.MetaDescription)
                                </th>*@
                            <th>
                                Ngày tạo sản phẩm
                            </th>
                            <th>
                                Ngày cập nhật sản phẩm
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.rank)
                                </th>*@
                            <th>
                                Nhãn hiệu
                            </th>
                            <th>
                                Danh mục
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.CommentProduct.Name)
                            </th>*@
                            <th></th>
                            <th>ID</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Name)*@
                                    @item.Name
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.SeoTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>*@
                                <td>
                                    @item.Thumnail
                                </td>
                                <td>
                                    @item.Price
                                </td>
                                <td>
                                    @item.PromotionPrice
                                </td>
                                <td>
                                    @item.TonKho
                                </td>
                                <td>
                                    @item.BaoHanh
                                </td>
                                <td>
                                    @item.Desciption
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.MetaKey)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MetaDescription)
                                    </td>*@
                                <td>
                                    @item.CreateDate
                                </td>
                                <td>
                                    @item.UpdateDate
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.rank)
                                    </td>*@
                                <td>
                                    @item.Brand.Name
                                </td>
                                <td>
                                    @item.Category.Name
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.CommentProduct.Name)
                                    </td>*@
                                <td>
                                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.product_id }) |
                                    @Html.ActionLink("Mô tả", "Details", new { id = item.product_id }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.product_id })
                                </td>
                                <td>@item.product_id</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </section>
    </div>
</main>
