@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}


<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/bootstrap/css/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/boxicons/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/quill/quill.snow.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/quill/quill.bubble.css" rel="stylesheet" />

<link href="~/assets/admin/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/simple-data/style.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Thông tin cá nhân</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeAdmin")">Trang quản trị</a></li>
                    <li class="breadcrumb-item">Tài khoản</li>
                    <li class="breadcrumb-item active">Thông tin cá nhân</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-10">
                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <a class="nav-link active" href="@Url.Action("MyProfile", "HomeAdmin")">Tổng quan</a>
                                </li>

                                <li class="nav-item">
                                    @*<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>*@
                                    <a class="nav-link active" href="@Url.Action("EditProfile", "HomeAdmin")">Thay đổi thông tin cá nhân</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="@Url.Action("ChangePassword", "HomeAdmin")">Thay đổi mật khẩu</a>

                                </li>

                            </ul>
                            <div class="tab-content pt-2">
                                <!--Change Password Form-->
                                <form method="post" action="@Url.Action("ChangePassword", "HomeAdmin")">
                                <br>
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="Password" type="password" class="form-control" id="Password">
                                            @if ((ViewBag.Message) == ("Mật khẩu hiện tại không chính xác"))
                                            {
                                                <p style="color:red">@ViewBag.Message</p>
                                            }
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="NewPassword" type="password" class="form-control" id="NewPassword">
                                            @if ((ViewBag.Message) == ("Mật khẩu mới không được trùng mật khẩu cũ"))
                                            {
                                                <p style="color:red">@ViewBag.Message</p>
                                            }
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu mới</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="RenewPassword" type="password" class="form-control" id="RenewPassword">
                                            @if ((ViewBag.Message) == ("Nhập lại mật khẩu không trùng khớp"))
                                            {
                                                <p style="color:red">@ViewBag.Message</p>
                                            }
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>

        </section>

    </main><!-- End #main -->

}
