@model SEP_CAMERA_PHUONGNGHI.Models.Account

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/bootstrap/css/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/boxicons/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/quill/quill.snow.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/quill/quill.bubble.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/simple-data/style.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thông tin cá nhân</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeAdmin")">Trang quản trị</a></li>
                <li class="breadcrumb-item">Tài khoản</li>
                <li class="breadcrumb-item active">Thông tin cá nhân</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("MyProfile", "HomeAdmin")">Tổng quan</a>
                            </li>

                            <li class="nav-item">
                                @*<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>*@
                                <a class="nav-link active" href="@Url.Action("EditProfile", "HomeAdmin")">Thay đổi thông tin cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("ChangePassword", "HomeAdmin")">Thay đổi mật khẩu</a>

                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <!-- Profile Edit Form -->
                            <form method="post" action="@Url.Action("EditProfile", "HomeAdmin")">
                                <br>
                                <div class="row mb-3">
                                    <label for="LastName" class="col-md-4 col-lg-3 col-form-label">Họ</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="LastName" type="text" class="form-control" id="lastName" value="@Model.LastName">
                                        @Html.HiddenFor(m => Model.user_id)
                                        @Html.HiddenFor(m => Model.status)
                                        @Html.HiddenFor(m => Model.Password)
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="FirstName" class="col-md-4 col-lg-3 col-form-label">Tên</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="FirstName" type="text" class="form-control" id="firstName" value="@Model.FirstName">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Username" class="col-md-4 col-lg-3 col-form-label">Tên tài khoản</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Username" type="text" class="form-control" id="username" value="@Model.Username">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Role" class="col-md-4 col-lg-3 col-form-label">Chức vụ</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Role" type="text" class="form-control" id="Role" value="@Model.Role">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Address" type="text" class="form-control" id="Address" value="@Model.Address">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Email" type="email" class="form-control" id="Email" value="@Model.Email">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>

    </section>

</main><!-- End #main -->
