@model SEP_CAMERA_PHUONGNGHI.Models.Account

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}

<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="~/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/bootstrap/css/bootstrap-icons.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/boxicons/boxicons.min.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/quill/quill.snow.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/quill/quill.bubble.css" rel="stylesheet" />

<link href="~/assets/admin/vendor/remixicon/remixicon.css" rel="stylesheet" />
<link href="~/assets/admin/vendor/simple-data/style.css" rel="stylesheet" />

<!-- Template Main CSS File -->
<link href="assets/css/style.css" rel="stylesheet">

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Thông tin cá nhân</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeAdmin")">Trang quản trị</a></li>
                <li class="breadcrumb-item">Tài khoản</li>
                <li class="breadcrumb-item active">Thông tin cá nhân</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("MyProfile", "HomeAdmin")">Tổng quan</a>
                            </li>

                            <li class="nav-item">
                                @*<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>*@
                                <a class="nav-link active" href="@Url.Action("EditProfile", "HomeAdmin")">Thay đổi thông tin cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="@Url.Action("ChangePassword", "HomeAdmin")">Thay đổi mật khẩu</a>

                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <br>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Họ</div>
                                    <div class="col-lg-9 col-md-8">@Model.LastName</div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tên</div>
                                    <div class="col-lg-9 col-md-8">@Model.FirstName</div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tên tài khoản</div>
                                    <div class="col-lg-9 col-md-8">@Model.Username</div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Chức vụ</div>
                                    <div class="col-lg-9 col-md-8">@Model.Role</div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Address</div>
                                    <div class="col-lg-9 col-md-8">@Model.Address</div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-lg-9 col-md-8">@Model.Email</div>
                                </div>

                            </div>

                        </div>


                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>

    </section>

</main><!-- End #main -->
<!-- Vendor JS Files -->
<script src="~/assets/admin/vendor/apexchart/apexcharts.min.js"></script>
<script src="~/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/admin/vendor/chart.js/chart.min.js"></script>
<script src="~/assets/admin/vendor/echarts/echarts.min.js"></script>
<script src="~/assets/admin/vendor/quill/quill.min.js"></script>
<script src="~/assets/admin/vendor/simple-data/simple-datatables.js"></script>
<script src="~/assets/admin/vendor/tinymce/tinymce.min.js"></script>
<script src="~/assets/admin/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/assets/admin/js/main.js"></script>
