@using SEP_CAMERA_PHUONGNGHI.Models;
@model List<GioHang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site__body">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__title">
                    <h1>Thanh toán</h1>
                </div>
            </div>
        </div>
        <div class="checkout block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">

                            <div class="card-body">
                                <h3 class="card-title">Chi tiết thanh toán</h3>
                                @{
                                    Account customer = (Account)Session["Account"];
                                }


                                <div class="form-group">
                                    <label for="checkout-company-name">
                                        Họ và tên
                                        <span class="text-muted"></span>
                                    </label>
                                    <input type="text" class="form-control" id="checkout-company-name">
                                </div>

                                <div class="form-group">
                                    <label for="checkout-street-address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="checkout-street-address">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-city">Thành phố / TỈnh</label> <input type="text" class="form-control" id="checkout-city">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-state">Quận / Huyện</label> <input type="text" class="form-control" id="checkout-state">
                                </div>
                                <div class="form-group">
                                    <label for="checkout-postcode">Phường / Xã</label> <input type="text" class="form-control" id="checkout-postcode">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="checkout-email">
                                            Email
                                        </label> <input type="email" class="form-control"
                                                        id="checkout-email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkout-phone">Số điện thoại</label>
                                        <input type="text" class="form-control" id="checkout-phone">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-divider"></div>
                            <div class="card-body">
                                <h3 class="card-title">Chi tiết giao hàng</h3>
                                <div class="form-group">
                                    <label for="checkout-comment">
                                        Ghi chú <span class="text-muted">(Optional)</span>
                                    </label> <textarea id="checkout-comment" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">Hóa đơn của bạn</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Tổng</th>
                                        </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.sName <br /> SL: @item.sAmount</td>
                                                <td>@String.Format("{0:0,0}", item.sPrice)</td>
                                            </tr>
                                        }
                                    </tbody>

                                    <tfoot class="checkout__totals-footer">
                                        <tr>
                                            <th>Tổng hóa đơn</th>
                                            <td>@String.Format("{0:0,0}", @ViewBag.TongTien)</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <input type="submit" value="Đặt Mua" class="btn btn-primary btn-xl btn-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

