@using SEP_CAMERA_PHUONGNGHI.Models;
@model List<GioHang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DatHang", "GioHang"))
{

    @Html.AntiForgeryToken()


    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__title">
                    <h1>Thanh toán</h1>
                </div>
            </div>
        </div>

        <div class="checkout block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <div class="card-body">
                                <h3 class="card-title">Chi tiết thanh toán</h3>


                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label for="checkout-company-name">
                                        <label for="checkout-city">Họ và tên</label> <input name="hovaten" type="text" class="form-control" id="checkout-city" required="required">
                                    </label>

                                </div>

                                <div class="form-group">
                                    <label for="checkout-city">Địa chỉ</label> <input name="diachi" type="text" class="form-control" id="checkout-city" required="required">

                                </div>

                                <div class="form-group">
                                    <label for="checkout-city">Tỉnh / Thành phố</label> <input name="tinhtp" type="text" class="form-control" id="checkout-city" required="required">
                                </div>

                                <div class="form-group">
                                    <label for="checkout-state">Quận / Huyện</label> <input name="quanhhuyen" type="text" class="form-control" id="checkout-state" required="required">
                                </div>

                                <div class="form-group">
                                    <label for="checkout-postcode">Phường / Xã</label> <input name="phuongxa" type="text" class="form-control" id="checkout-postcode" required="required">
                                </div>


                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="checkout-email">
                                            Email
                                        </label> <input name="email" type="email" class="form-control"
                                                        id="checkout-email" required="required">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="checkout-phone">Số điện thoại</label>
                                        <input name="sdt" type="number" class="form-control" id="checkout-phone" required="required">
                                    </div>
                                </div>


                            </div>
                            <div class="card-divider"></div>
                            <div class="card-body">
                                <h3 class="card-title">Chi tiết giao hàng</h3>

                                <div class="form-group">
                                    <label for="checkout-comment">
                                        Ghi chú
                                    </label>
                                    <textarea name="ghichu" id="checkout-comment" class="form-control" rows="4"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">Hóa đơn của bạn</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>Sản phẩm</th>
                                            <th>Tổng</th>
                                        </tr>
                                    </thead>

                                    <tbody class="checkout__totals-products">
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.sName <br /> SL: @item.sAmount</td>
                                                <td>@String.Format("{0:0,0}", item.sPrice)</td>
                                            </tr>
                                        }
                                    </tbody>

                                    <tbody class="checkout__totals-subtotals">

                                        <tr>
                                            <th>Khuyến mãi</th>
                                            <td style="color:darkblue">@String.Format("{0:0,0}", @ViewBag.sDiviant) đ</td>
                                        </tr>

                                    </tbody>

                                    <tfoot class="checkout__totals-footer">


                                        <tr>
                                            <th>Tổng hóa đơn</th>
                                            <td>@String.Format("{0:0,0}", @ViewBag.TongTien) đ</td>
                                        </tr>
                                    </tfoot>
                                </table>
                                <button type="submit" class="btn btn-primary btn-xl btn-block">
                                    Đặt mua
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}