@model SEP_CAMERA_PHUONGNGHI.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_mLayoutAdmin.cshtml";
}

<div class="page-inner">
    <div class="page-header">
        <Strong class="page-title">QUẢN LÍ BÀI VIẾT</Strong>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Mô tả bài viết</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a style="font-size:16px" href="@Url.Action("Edit", new { id = Model.post_id})">Chỉnh sửa bài viết</a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <dl class="dl-horizontal">
                        <dt>
                            <strong>Tên bài viết</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            <strong>Tiêu đề SEO</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SeoTitle)
                        </dd>

                        <dt>
                            <strong>Trạng thái</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            <strong>Hình ảnh</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Image)
                        </dd>

                        <dt>
                            <strong>Miêu tả</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            <strong>Chi tiết</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Detail)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaKey)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaKey)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaDescription)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaDescription)
                        </dd>

                        <dt>
                            <strong>Ngày tạo bài viết</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>

                        <dt>
                            <strong>Ngày cập nhật</strong>
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateDate)
                        </dd>

                    </dl>
                </div>
            <div class="card-action">
                <a style="font-size:16px" href="@Url.Action("Index")">Quay lại</a>
            </div>

        </div>
    </div>
</div>
</div>
