@using SEP_CAMERA_PHUONGNGHI.Models
@using PagedList.Mvc
@model PagedList.PagedList<tbProduct>

@{
    ViewBag.Title = "ShopGrid";
}


<div class="page-header__container container">
    <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Trang Chủ</a>
                    <svg class="breadcrumb-arrow"
                         width="6px" height="9px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                    </svg>
                </li>

                <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
    </div>
</div>

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
            </div>
            <div class="page-header__title">
                <h1>Mua sắm</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block">
                    <div class="products-view">
                        <div class="products-view__options">
                            <div class="view-options">
                                <div class="view-options__layout">
                                    <div class="layout-switcher">
                                        <div class="layout-switcher__list">
                                            <button data-layout="grid-4-full"
                                                    data-with-features="false" title="Grid" type="button"
                                                    class="layout-switcher__button layout-switcher__button--active">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                                                    <path d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z" />
                                                </svg>
                                            </button>
                                            <button data-layout="list"
                                                    data-with-features="false" title="List" type="button"
                                                    class="layout-switcher__button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
                                                    <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="view-options__divider"></div>


                            </div>
                        </div>
                        <div class="products-view__list products-list" data-layout="grid-4-full"
                             data-with-features="false">
                            <div class="products-list__body">
                                @foreach (var item in Model)
                                {
                                    <div class="products-list__item">
                                        <div class="product-card">
                                            <div class="product-card__image">
                                                <a href="~/ShopGrid/ProductDetail?id=@item.product_id">
                                                    <img src="~/Content/image/ImgProduct/@item.Thumnail" alt="Image">
                                                </a>
                                            </div>
                                            <div class="product-card__info">
                                                <div class="product-card__name">
                                                    <a href="~/ShopGrid/ProductDetail?id=@item.product_id">
                                                        @item.Name
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-card__actions">
                                                <div class="product-card__prices">@String.Format("{0:0,0}", item.PromotionPrice) đ</div>
                                                <span class="product-card__old-price">@String.Format("{0:0,0}", item.Price) đ</span>

                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="products-view__pagination">
                            <div>Trang @(Model.PageCount < Model.PageNumber ? 0 :Model.PageNumber )/@Model.PageCount</div>
                            <div>
                                <ul class="pagination justify-content-center">
                                    @*Create Link pagelist*@

                                    <li style="letter-spacing:50px" class="page-item">
                                        @Html.PagedListPager(Model, page => Url.Action("ShopGrid", new {page = page }))
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

